<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" name="MyApp">
    <Appenders>
        <RollingFile name="RollingFile"
                     fileName="logs/hippodrome.log"
                     filePattern="logs/hippodrome.%d{yyyy-MM-dd-mm}.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d %p %c: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="2">
                    <IfFileName>hippodrome.*.log</IfFileName>
                    <IfLastModified>age="7D"/></IfLastModified>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>