<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" name="MyApp">
    <Appenders>
        <RollingFile name="RollingFile"
                     fileName="logs/hippodrome.log"
                     filePattern="logs/hippodrome.%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd} %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete>
                    <IfFileName>logs/hippodrome.%d{yyyy-MM-dd}.log</IfFileName>
                    <IfLastModified>age="7D"/></IfLastModified>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="error">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>